
.font{
    font-size: 20px;
    color: #383838;
}

.wrap{
        text-align: center;
}

.cen{
    height: 200px;
    width: 400px;
    background: black;

    position: fixed;
    top: 50%;
    left: 5%;
    margin-top: -100px;
    margin-left: -200px;
}