img{
    width: 600px;
    height: 600px;
    background-image: url(img/Min_Min_SSBU.png);
}

@media (min-width: 320px) {

    img{
        width: 200;
        height: 200px;
        max-width: 100%;
        height: auto;
    }
}