body{
    background: black;
}

header{
    position: fixed;
    display: flex;
    top: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: auto;
    padding: 50px;
    margin-top: -50px;
}

.logo{
    width: 60vw;
}

.logo2{
    height: 100px;
    width: 200px;
    object-fit: cover;
    object-position: 60% -25px;
    box-shadow: 10px 10px 5px #aaaaaa;
    -moz-box-shadow: 10px 10px 5px #aaaaaa;
    -webkit-box-shadow: 10px 10px 5px #aaaaaa;
    -khtml-box-shadow: 10px 10px 5px #aaaaaa;
}

nav > ul{
    display: flex;
    width: 36vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
    margin-left: -30px;
    flex-direction: column;

}

li > a{
    text-decoration: none;
    font-family: helvetica;
    font-size: 30px;
    color: white;
}

#tytl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

h1{
    display: flex;
    color: white;
    padding: 60px;
    font-family: helvetica;
    margin-top: 300px;
}

.sec1{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    justify-content: center;
}

iframe{
    width: 1000px;
    height: 400px;
}

.sec2{
    display: flex;
    justify-content: center;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    
}

form > input{
    font-family: helvetica;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 10px;
    margin: 5px;
    width: 100%;
}

button{
    background: black;
}

h3{
    padding: 50px;
    color: white;
}

@media screen
and (min-width: 760px)
and (max-width: 1920px){

    header{
        position: fixed;
        display: flex;
        top: 0;
        background-size: auto;
        flex-direction: row;
    }

    .logo{
        width: 60vw;
        margin-left: -50px;
    }
    
    .logo2{
        height: 100px;
        width: 200px;
        object-fit: cover;
        object-position: 60% -25px;
        box-shadow: 10px 10px 5px #aaaaaa;
        -moz-box-shadow: 10px 10px 5px #aaaaaa;
        -webkit-box-shadow: 10px 10px 5px #aaaaaa;
        -khtml-box-shadow: 10px 10px 5px #aaaaaa;
    }
    
    nav > ul{
        display: flex;
        width: 36vw;
        justify-content: space-around;
        list-style: none;
        flex-direction: row;
    }

    #tytl{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        margin-top: 50px;
    }

    .sechead{
        margin-bottom: 100px;
    }

    .sec1{
        display: flex;
        justify-content: center;
    }

iframe{
    width: 1000px;
    height: 500px;
}

    .sec2{
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: grey;
        
    }
    
    form > input{
        font-family: helvetica;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 10px;
        margin: 5px;
        width: 100%;
    }

}